body{
    text-transform: lowercase;
}

/* Menu principal */
.bg-faded {
    background-color: #ffffff;
}

.navbar-nav{
    margin-right: 50px;
}


/* JUMBOTRON */
.jumbotron {
    background-color: #ebcccc;
}


/*Botones*/
.badge-pill {
    padding-right: 1.5em;
    padding-left: 1.5em;
}